<div class="layout-container">

  <header class="main-header">

    <div class="header-left" routerLink="/dashboard" style="cursor: pointer;">
      <span class="icon-dog">🐶</span>
      <span class="brand-text">PERROS PERDIDOS</span>
    </div>

    <div class="header-center">
      <span class="ranking-text">RANKING</span>
      <span class="icon-star">⭐</span>
    </div>

    <div class="header-right">
      <button class="btn-login" (click)="logout()">
        INICIAR SESIÓN / SALIR
      </button>
      <button class="btn-login" (click)="abrirModalRegistro()">
        REGISTRARSE
      </button>
    </div>
  </header>

  <main class="content-area">
    <div class="page-card">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="bg-dark text-white py-3 mt-auto">
    <div class="container text-center">
      <p class="mb-0 small">
        &copy; 2025 <strong>¿Dónde Estás?</strong> - Volvé a casa.
      </p>
      <p class="mb-0 small text-secondary">Trabajo Final TTPS - Opción Java</p>
      <span>® BY TEDDYWARE</span>
    </div>
  </footer>
  <div class="modal-overlay" *ngIf="mostrarRegistro">
    <div class="modal-wrapper">
      <app-registro (cerrarModal)="cerrarModalRegistro()"></app-registro>
    </div>
  </div>
</div>
